## Importing a CSV into a Database

#### # Importing the necessary Python libraries

In [1]:
import sys
import pypyodbc as odbc
import os
import pandas as pd
import numpy as np
import psycopg2 as ps

## Loading Data

### Instagram Locations Data

In [2]:
df = pd.read_csv(r"C:\Users\Suraj N\Downloads\Instagram\instagram_locations.csv", sep='\t')
df.head()

,sid,id,name,street,zip,city,region,cd,phone,aj_exact_city_match,...,dir_city_name,dir_city_slug,dir_country_id,dir_country_name,lat,lng,primary_alias_on_fb,slug,website,cts
0,719981,110296492939207,"Playa de Daimuz - Valencia, España",NaN,NaN,NaN,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,-0.139475,38.974391,daimuzplaya,playa-de-daimuz-valencia-espana,https://es.wikipedia.org/wiki/Daimuz,2019-05-29 01:21:29.987
1,719983,274391278,Nová Vieska,NaN,NaN,Nová Vieska,NaN,SK,NaN,True,...,Kis-Újfalu,kis-ujfalu,SK,Slovakia,18.466667,47.866667,NaN,nova-vieska,NaN,2019-05-29 01:21:38.037
2,719985,148885595789195,Everest Today,Himalayas,+977,"Kathmandu, Nepal",NaN,NP,NaN,False,...,Pasupati,pasupati,NP,Nepal,85.330150,27.701960,EverestToday,everest-today,NaN,2019-05-29 01:21:46.295
3,719987,263258277,BULAC - Bibliothèque universitaire des langues...,"65, rue des Grands-Moulins",75013,"Paris, France",NaN,FR,01 81 69 18 00,False,...,13ème Arrondissement Paris,13eme-arrondissement-paris,FR,France,2.375995,48.827240,BULAC.Paris,bulac-bibliotheque-universitaire-des-langues-e...,www.bulac.fr,2019-05-29 01:21:54.355
4,326443,406147529857708,ABC Cable Networks Group,3800 W Alameda Ave,91505,"Burbank, California",NaN,US,(818) 569-7500,False,...,NaN,NaN,NaN,NaN,-118.341864,34.153265,NaN,abc-cable-networks-group,NaN,2019-04-02 15:22:55.703

In [3]:
df.columns

Index(['sid', 'id', 'name', 'street', 'zip', 'city', 'region', 'cd', 'phone',
       'aj_exact_city_match', 'aj_exact_country_match', 'blurb', 'dir_city_id',
       'dir_city_name', 'dir_city_slug', 'dir_country_id', 'dir_country_name',
       'lat', 'lng', 'primary_alias_on_fb', 'slug', 'website', 'cts'],
      dtype='object')

In [4]:
df.dtypes

sid                         int64
id                          int64
name                       object
street                     object
zip                        object
city                       object
region                     object
cd                         object
phone                      object
aj_exact_city_match        object
aj_exact_country_match     object
blurb                      object
dir_city_id                object
dir_city_name              object
dir_city_slug              object
dir_country_id             object
dir_country_name           object
lat                       float64
lng                       float64
primary_alias_on_fb        object
slug                       object
website                    object
cts                        object
dtype: object

In [5]:
replacements = {
    'object' : 'varchar',
    'int64': 'varchar',
    'float64': 'varchar'
}

In [6]:
replacements

{'object': 'varchar', 'int64': 'varchar', 'float64': 'varchar'}

### Created connection with Database

In [7]:
from sqlalchemy import create_engine

In [8]:
engine = create_engine('postgresql://postgres:Suraj1234@localhost:5432/instagram')

conn = engine.connect()

In [9]:
conn

In [10]:
df.columns = [x.lower().replace(" ","_").replace("/","_").replace("(","").replace(")","").replace("+","").replace(".","").replace("05percentage","").replace("%","").replace("'","").replace("-","_").replace("?","") for x in df.columns]

In [11]:
for columns in df.columns:
    print(columns)

sid
id
name
street
zip
city
region
cd
phone
aj_exact_city_match
aj_exact_country_match
blurb
dir_city_id
dir_city_name
dir_city_slug
dir_country_id
dir_country_name
lat
lng
primary_alias_on_fb
slug
website
cts

In [ ]:
conn.execute("drop table instagram_locations")

In [ ]:
conn.execute("create table instagram_locations (sid int PRIMARY KEY, id varchar, name varchar, street varchar, zip varchar, city varchar, region varchar, cd varchar, phone varchar, aj_exact_city_match boolean, aj_exact_country_match boolean, blurb varchar, dir_city_id varchar, dir_city_name varchar, dir_city_slug varchar, dir_country_id varchar, dir_country_name varchar, lat real, lng real, primary_alias_on_fb varchar, slug varchar, website varchar, cts timestamp)")

In [ ]:
df.to_sql('instagram_locations',con = engine, if_exists = 'append', index = False)

## Loading Data

### Instagram Posts Data

In [12]:
df = pd.read_csv(r"C:\Users\Suraj N\Downloads\Instagram\instagram_posts.csv", sep='\t', nrows = 1043657)
df.head()

,sid,sid_profile,post_id,profile_id,location_id,cts,post_type,description,numbr_likes,number_comments
0,28370919,3496776,BXdjjUlgcgq,2.237948e+09,1.022366e+15,2017-08-06 20:06:57.000,2,Wreckloose! Deevalley bike park laps on the @i...,80,0
1,28370932,-1,BVg0pbolYBC,5.579335e+09,4.574268e+14,2017-06-19 09:31:16.000,1,🙌🏼 believe in ya dreams 🙌🏼 just like I believe...,25,1
2,28370933,-1,BRgkjcXFp3Q,3.134296e+08,4.574268e+14,2017-03-11 20:05:03.000,1,#meraviglia #incensi #the #candele #profumo #a...,9,0
3,28370934,-1,BKTKeNhjEA7,1.837593e+09,4.574268e+14,2016-09-13 16:27:16.000,1,#teatime #scorpion #friends #love #mountains #...,4,0
4,28370935,-1,8-NQrvoYLX,1.131527e+09,4.574268e+14,2015-10-18 10:19:27.000,1,thE sky gavE mE a #constEllation,8,0

In [13]:
df.columns

Index(['sid', 'sid_profile', 'post_id', 'profile_id', 'location_id', 'cts',
       'post_type', 'description', 'numbr_likes', 'number_comments'],
      dtype='object')

In [14]:
df.dtypes

sid                  int64
sid_profile          int64
post_id             object
profile_id         float64
location_id        float64
cts                 object
post_type            int64
description         object
numbr_likes          int64
number_comments      int64
dtype: object

In [15]:
replacements = {
    'object' : 'varchar',
    'int64': 'varchar',
    'float64': 'varchar'
}

In [16]:
for columns in df.columns:
    print(columns)

sid
sid_profile
post_id
profile_id
location_id
cts
post_type
description
numbr_likes
number_comments

In [ ]:
conn.execute("drop table IF EXISTS instagram_posts")

In [ ]:
conn.execute("create table instagram_posts (sid int PRIMARY KEY, sid_profile int, post_id varchar, profile_id varchar, location_id varchar, cts timestamp, post_type int, description varchar, numbr_likes int, number_comments int)")

In [ ]:
df.to_sql('instagram_posts',con = engine, if_exists = 'append', index = False)

## Loading Data

### Instagram Profiles Data

In [17]:
df = pd.read_csv(r"C:\Users\Suraj N\Downloads\Instagram\instagram_profiles.csv", sep='\t', nrows = 1043657)
df.head()

,sid,profile_id,profile_name,firstname_lastname,description,following,followers,n_posts,url,cts,is_business_account
0,4184446,4.721050e+09,jphillip033,John Pierce,"""Document Everything Always""",250.0,146.0,170.0,NaN,2019-08-01 14:38:55.394 -0400,False
1,4184457,5.905830e+08,mama_haas,Deanna,Trying to enjoy the simple things in life. Kni...,534.0,1145.0,2878.0,www.etsy.com/shop/MamaHaas69,2019-08-01 14:39:36.526 -0400,False
2,4184460,1.074147e+09,yellowlightbreen,Eliza Gray,Maine is for Lovers,469.0,324.0,431.0,elizajanegray.com,2019-08-01 14:39:54.407 -0400,False
3,4184461,1.472039e+09,tec1025,Thomas Clark,NaN,NaN,NaN,NaN,NaN,2019-08-01 14:40:06.472 -0400,NaN
4,4184462,3.531421e+09,luckyfluff,NaN,NaN,NaN,NaN,NaN,NaN,2019-08-01 14:40:07.806 -0400,NaN

In [18]:
df.columns

Index(['sid', 'profile_id', 'profile_name', 'firstname_lastname',
       'description', 'following', 'followers', 'n_posts', 'url', 'cts',
       'is_business_account'],
      dtype='object')

In [19]:
df.dtypes

sid                      int64
profile_id             float64
profile_name            object
firstname_lastname      object
description             object
following              float64
followers              float64
n_posts                float64
url                     object
cts                     object
is_business_account     object
dtype: object

In [20]:
replacements = {
    'object' : 'varchar',
    'int64': 'varchar',
    'float64': 'varchar'
}

In [21]:
for columns in df.columns:
    print(columns)

sid
profile_id
profile_name
firstname_lastname
description
following
followers
n_posts
url
cts
is_business_account

### Droping table from the Database If Exist

In [ ]:
conn.execute("drop table IF EXISTS instagram_profiles")

### Creating the Table

In [ ]:
conn.execute("create table instagram_profiles (sid int PRIMARY KEY ,profile_id varchar ,profile_name varchar ,firstname_lastname varchar ,description varchar ,following int ,followers int ,n_posts int ,url varchar ,cts timestamp ,is_business_account boolean)")

### Close connection

In [ ]:
conn.close()